
body {
    font-family: Roboto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}


li a {
    text-decoration: none;
}

.header ul a,
.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.hero,
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px;
}



.header img {
    width: 150px;
    height: auto;
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.hero {
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    gap: 20px;
    flex: 1;
    flex-wrap: wrap;
}

.hero img {
    width: 600px;
    height: auto;
}

.hero-description {
    max-width: 700px;
    min-width: 400;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 18px;
}

.hero-description h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: bold;
    padding: 10px 28px;
}
