
body {
    font-family: Roboto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}


li a {
    text-decoration: none;
}

.header ul a,
.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.hero,
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px;
}



.header img {
    width: 150px;
    height: auto;
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.hero {
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;
    gap: 20px;
    flex: 1;
    flex-wrap: wrap;
}

.hero img {
    width: 600px;
    height: auto;
}

.hero-description {
    max-width: 700px;
    min-width: 400;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 18px;
}

.hero-description h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    padding: 10px 28px;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 250px;
    gap: 50px;
}

.services h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    flex: 0 0 auto;
    border: 4px solid #3882F6;
    border-radius: 12px;
    padding: 30px;
}

.card img {
    width: 80px;
    height: auto;
    margin-bottom: 12px;
}

.card h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.card p {
    font-size: 18px;
    text-align: center;
}

.card:hover,
.card:hover h1 {
    background-color: #3882F6;
    color: #F9FAF8;
}

.testimonials {
    background-color: #E5E7EB;
    padding: 150px 350px;
}

.testimonials h1 {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    margin: 0;
}

.testimonials p {
    font-weight: bold;
    margin: 0;
    font-size: 28px;
    text-align: right;
}

.contact {
    padding: 100px 250px;
    display: flex;
    justify-content: center;
}

.call-to-action {
    display: flex;
    flex: 1;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 32px 80px;
}

.cta-text h1,
.cta-text p {
    margin: 0;
    padding: 10px;
}

.call-to-action button {
    margin-left: auto;
    border: 2px solid #F9FAF8;
    align-self: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 22px;
    font-size: 18px;
}